@using MongoDB.Bson
@model IList<MongoDB.Bson.BsonDocument>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        @Html.ActionLink("Add", "New")
        <div>
            Hello world! 
        </div>
        @foreach (var document in Model) {
            <div>
                Street: @document["address"].ToString()
            </div>
        }
    </body>
</html>
